
.itemButtins{
  margin: 2px;
}

#tillTableButtons{
  width:150px;
  position:absolute;
  top: 5%;
  left: 60%;
}

.tableButton{
  width:150px;
  margin: 3px;
}

td, th {
  border: 1px solid #808080;
  text-align: center;
  padding: 8px;
  width: 150px;
}

th{
  background: #C0C0C0;
}

#priceList{
  position:absolute;
  top: 20%;
  left: 60%;
}

.receiptStatus{
  border: 0;
  background-color: #fefefe;
  text-align: left;
  width: 30px;
}

#receiptTotalPriceStatus{
  border: 0;
  background-color: #fefefe;
  text-align: center;
}

.tablebody tr:hover{
  background-color: #FF645D;
}

.receiptData{
  text-align: right;
  font-weight: bold;
}

#logout{
  position:absolute;
  top: 5%;
  left: 85%
}

#loginPage{
  width:200px;
  position:absolute;
  top: 40%;
  left: 45%;
}

#submitButton{
  width:200px;
  position: relative;
}

#logoutMessage{
  position:absolute;
  top: 5%;
  left: 74%;
  font-size: 15pt;
}

.clickable{
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.2);
}

#receiptTitle{
  text-align: center;
}

#emptyTillMessage{
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 60%;
}

.close {
  color: #DE1B1B;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #F10C0C;
  text-decoration: none;
  cursor: pointer;
}
